body{
    background-color: violet;
    color: white;
    text-align: center;
}

#bloco{
    background-color: black;
    display: block;
}


#quad1{
    background-color: red;
}

#quad2{
    background-color: chartreuse;
}

#quad3{
    background-color: green;
}

#bloco-linha{
    background-color: aqua;
}

#linha{
    background-color: aquamarine;
}

#flex{
    background-color: aqua;
    display: flex;
    height: 500px;
    /* flex-direction: row;
    flex-wrap: wrap; */
    flex-flow: column wrap;
    gap: 10px;
    /* justify-content: space-between; */
    /* justify-content: space-around; */
    /* justify-content: space-evenly; */
    /* justify-content: center; */
    /* align-items: center; */
    /* align-content: center; */
    flex-flow: row nowrap;
}

.quad{
    width: 200px;
    height: 200px;
    font-size: 50px;
    color: white;
    text-shadow: 2px 2px black;
    /* display: inline-block; */
    /* display: inline; */
    /* float: left; */
}

#quad1{
    /* capacidade de aumentar */
    flex-grow: 1;
}

#quad2{
    /* capacidade de diminuir */
    flex-shrink: 0;
}


